* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
}
body {
    background: #d8d7d8;
}
.header-style {
    display: flex;
    justify-content: space-between;
}
.header-style button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.black-btn {
    /* padding: 10px 20px; */
    width: 60px;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.white-btn {
    /* padding: 10px 20px; */
    width: 60px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}

.app {
    background-color: aliceblue;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 20px;
}
.app h1{
    font-size: 30px;
    color: blue;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;
}
.quiz h2 {
    font-size: 20px;
    color: #333;
}
.btn {
    font-size: 20px;
    font-weight: 500;
    background: #fff;
    color: #222;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
}
/* .btn:hover {
    transition: transform 0.2s, box-shadow 0.2s, border 0.2s; 
} */
.btn:hover:not([disabled]) {
    background: rgb(48, 4, 245);
    color: #fff;
}
.btn:disabled {
    cursor: no-drop;
}
#next-btn {
    background: #363038;
    color: #fff;
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin: 20px auto 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* .correct {
    background: #59e20a;
}
.incorrect { 
    background:  #ee0909;
}  */
.selectedBtn {
    background: #8a499e;
}

