* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
}
body {
    background: #6c008d;
}
.app {
    background-color: aliceblue;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 20px;
}
.app h1{
    font-size: 30px;
    color: blue;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;
}
.quiz h2 {
    font-size: 20px;
    color: #333;
}